.jp-Dialog-footer button.jp-Dialog-button:focus {
	outline: 0 none !important;
}

li[data-command="filemenu:logout"],
li[data-command="hub:logout"],
li[data-command="hub:control-panel"],
li[data-command="filemenu:shutdown"]
{
	display: none !important;
}

li[data-command="filemenu:shutdown"] + li[data-type="separator"],
li[data-command="hub:logout"] + li[data-type="separator"]
{
	display: none !important;
}
